
/*
** EhsanGhaaffarii Blog styles
** author : https://github.com/ehsanghaffarii
*/

:root {
    --font-color: #495057;
    --heading-color: #343a40;
    --background: white;
    --dark-font-color: #1b1d25;
    --medium-font-color: #60656c;
    --light-font-color: #787f87;
    --light-background: #f9f9f9;
    --lighter-background: #e6e8eb;
    --border: #d6d9de;
    --link-color: #5c7cfa;
    --link-color-darker: #3b5bdb;
    --navbar-color: #4c6ef5;
    --blockquote: #edf2ff;
    --transparent-text: rgba(0, 0, 0, 0.7);
    --transparent-bg: rgba(0, 0, 0, 0.15);
    --code-font-color: #b3b9c5;
    --code-background-color: #353535;
    --string: #92d192;
    --variable: #f2777a;
    --property: #abb2bf;
    --number: #fca369;
    --operator: #ac8d58;
    --punctuation: #d5d8df;
    --comment: #848991;
    --function: #62cfcf;
    --keyword: #ffeead;
    --attribute: #ffd479;
    --class: #e1a6f2;
    --tag: #6ab0f3;
    --error: #f2777a;
    --yellow: rgb(241, 245, 6);
    --section-btn-bg: #cccccc;
    --js-color: #ecdb54;

  }

  /* Scaffolding */

  html {
    font-family: 'Vazir', sans-serif;
    color: var(--font-color);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
  }

  body {
    background: var(--background);
    margin: 0;
    padding: 0;
  }

  article {
    min-width: 0;
  }

  section {
    margin: 2rem 0;
  }

  section:first-of-type {
    margin-top: 0;
  }

  section > h2 {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .index h2, section > h2 {
    border-bottom-width: 0;
  }

  @media screen and (min-width: 800px) {
    .index h2, section > h2 {
      border-bottom-width: 1px;
    }
  }

  .section-button {
    font-weight: 500;
    background: var(--section-btn-bg);
    color: var(--dark-font-color);
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
    border-radius: 3rem;
    border-bottom: 0;
    white-space: nowrap;
    line-height: 1;
    margin-right: 1rem;
  }

  .section-button:hover {
    background: #868e96;
    color: white;
  }

  @media screen and (min-width: 800px) {
    section {
      margin: 3.5rem 0;
    }

    .card-title {
        margin: 0 !important;
        font-size: 1rem !important;
    }
    .card-text {
        font-size: 0.9rem !important;
    }
  }

  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .container.page p {
    max-width: 600px;
  }

  @media screen and (min-width: 800px) {
    .container {
      padding: 0 2rem;
    }
  }

  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }

  p,
  ol,
  ul,
  dl,
  table,
  blockquote {
    font-size: 1.05rem;
    line-height: 2;
  }

  ul {
    padding: 0 1rem;
  }

  @media screen and (min-width: 800px) {
    p,
    ol,
    ul,
    dl,
    table,
    blockquote {
      font-size: 1rem;
      line-height: 2;
    }

    ul {
      padding: 0 2rem;
    }
  }

  ul li p {
    margin: 0;
  }

  ul li ul {
    padding-left: 1rem;
    margin: 0;
  }

  ul li ul li {
    margin: 0;
  }

  ol li ol {
    margin-bottom: 0;
  }

  .task-list-item [type='checkbox'] {
    margin-right: 0.5rem;
  }

  blockquote {
    margin: 2rem 0;
    padding: 1rem;
    background: var(--blockquote);
    border-radius: 0.35rem;
    font-weight: 400;
  }

  blockquote p {
    margin: 0;
  }

  blockquote a {
    padding: 1px 4px;
  }

  blockquote :not(pre) > code[class*='language-'] {
    background: rgba(0, 0, 0, 0.1) !important;
  }

  :not(pre)>code[class*=language-], pre[class*=language-] {
      background: var(--code-background-color);
  }

  blockquote a:hover {
    border-radius: 0.35rem;
    border-bottom: 1px solid var(--link-color-darker);
    background: var(--link-color-darker);
    color: white;
  }

  blockquote.quotation {
    margin: 2rem 0;
    padding: 0 1.5rem;
    background: transparent;
    border-radius: 0;
    border: none;
    border-left: 12px solid var(--border);
  }

  blockquote.quotation p {
    font-family: Georgia, serif;
    line-height: 1.6;
    color: var(--medium-font-color);
    font-size: 1.1rem;
    margin: 0 0 2rem 0;
  }

  @media screen and (min-width: 800px) {
    blockquote.quotation {
      margin: 2.5rem 0;
      overflow: auto;
      border-width: 16px;
    }
    blockquote.quotation cite {
      float: right;
    }
    blockquote.quotation p {
      font-size: 1.3rem;
    }
  }

  /* Headings */

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0 0 1.5rem 0;
    font-weight: 700;
    line-height: 1.2;
    color: var(--heading-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child) {
    margin-top: 3rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  h2 {
    font-size: 1.75rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--border);
  }

  h2 code {
    font-size: 1.75rem !important;
  }

  h3 {
    font-size: 1.5rem;
    color: var(--font-color);
    font-weight: 600;
    margin-bottom: 1rem;
  }

  h3 code {
    font-size: 1.4rem !important;
  }

  h4 {
    font-size: 1.3rem;
    color: var(--font-color);
    font-weight: 500;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border);
    padding-bottom: 1rem;
  }

  h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 800px) {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 1.8rem;
    }

    h2 code {
      font-size: 1.8rem !important;
    }

    h3 {
      font-size: 1.6rem;
      color: var(--font-color);
      font-weight: 600;
    }

    h3 code {
      font-size: 1.6rem !important;
    }
  }

  /* Sidebar */

  .aside-content {
    margin-top: 1rem;
    border-radius: 0.35rem;
  }

  aside {
    min-width: 260px;
  }

  aside p,
  aside ul,
  aside a {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  aside ul {
    padding-left: 1rem;
  }

  aside h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
    font-size: 1.1rem;
    color: var(--dark-font-color);
    border-bottom: 1px solid var(--border);
  }

  aside section {
    margin: 1.5rem 0;
    background: var(--light-background);
    padding: 1.5rem;
    border-radius: 0.35rem;
    border: 1px solid var(--border);
  }

  .aside-content section:last-child {
    margin-bottom: 0;
  }

  @media print {
    aside,
    .aside-content {
      display: none;
    }
  }

  .avatar {
    display: block;
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto 1rem;
  }

  a.link {
    display: block;
    padding: 0.25rem 0;
    margin: 0.25rem 0;
    border-radius: 0.35rem;
    font-weight: 600;
    background: transparent;
    color: var(--dark-font-color);
  }

  a.link:hover {
    background: transparent;
    color: var(--link-color);
  }

  /* Main */

  .lead {
    padding: 3rem 0;
    margin: 0;
    background: var(--background);
  }

  .lead .container {
    display: flex;
    flex-direction: column;
  }

  .lead h1 {
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    line-height: 1.2;
  }

  .lead p {
    color: var(--light-font-color);
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
    line-height: 1.6;
  }

  .lead p:last-child {
    margin-bottom: 0;
  }

  .copy {
    max-width: 600px;
  }

  .lead img {
    display: block;
    border-radius: 16px;
    height: 150px;
    width: 150px;
    margin-bottom: 2rem;
  }

  .lead a {
    color: var(--link-color);
    background: transparent;
    font-weight: 700;
  }

  .lead a:hover {
    background: linear-gradient(transparent 70%, #dbe4ff 0);
  }

  a.button {
    display: inline-block;
    border: 2px solid var(--link-color);
    padding: 0.75rem 1rem;
    margin-right: 0.75rem;
    font-weight: 500;
    background: var(--link-color);
    color: white;
    border-radius: 0.35rem;
    font-size: 0.9rem;
  }

  a.button.secondary {
    border: 2px solid #edf2ff;
    background: #edf2ff;
    color: #3b5bdb;
  }

  a.button:hover,
  a.button.secondary:hover {
    border: 2px solid var(--link-color-darker);
    background: var(--link-color-darker);
    color: white;
  }

  .lead a.button {
    display: block;
    margin-bottom: 0.25rem;
  }

  @media screen and (min-width: 600px) {
    .lead a.button {
      display: inline-block;
    }
  }

  @media screen and (min-width: 800px) {
    a.button {
      padding: 1rem 1.5rem;
      font-size: 1.1rem;
    }
  }

  .lead .image {
    order: 1;
  }

  .lead .copy {
    order: 2;
  }

  .lead b {
    color: white;
  }

  @media screen and (min-width: 800px) {
    .lead {
      padding: 4.5rem 0;
    }

    .lead .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .lead h1 {
      font-size: 2.6rem;
      line-height: 1.1;
    }

    .lead p {
      font-size: 1.3rem;
    }

    .lead img {
      height: auto;
      width: auto;
      max-width: 200px;
      margin-bottom: 0;
      margin-left: 2.5rem;
    }

    .lead .image {
      order: 2;
    }

    .lead .copy {
      order: 1;
    }
  }

  @media screen and (min-width: 1000px) {
    .lead {
      align-items: center;
    }
    .lead img {
      max-width: 350px;
    }
  }

  p.subtitle {
    color: var(--medium-font-color);
    font-size: 1.3rem;
    font-weight: 300;
  }

  @media screen and (min-width: 800px) {
    p.subtitle {
      font-size: 1.5rem;
    }
  }

  /* Links */

  a {
    color: var(--dark-font-color);
    /* background: linear-gradient(transparent 70%, #dbe4ff 0); */
    text-decoration: none;
    font-weight: 700;
  }

  a:hover {
    color: var(--dark-font-color);
    /* background: linear-gradient(transparent 70%, #bac8ff 0); */
  }

  .anchor.before {
    background: none;
  }

  a.gatsby-resp-image-link:hover {
    border-bottom: none;
  }

  a code[class*='language-'] {
    color: var(--link-color) !important;
  }

  a code[class*='language-']:hover {
    background: var(--link-color) !important;
    color: white !important;
  }

  /* Navbar */

  main {
    margin-top: 6rem;
  }

  @media screen and (min-width: 800px) {
    main {
      margin-top: 6rem;
    }
  }

  .emoji {
    margin: 0 0.4rem 0 0.1rem;
  }

  .navbar {
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--navbar-color);
    box-shadow: 0 3px 13px rgba(100, 110, 140, 0.1),
      0 2px 4px rgba(100, 110, 140, 0.15);
    z-index: 2;
  }

  .navbar .flex {
    justify-content: space-between;
  }

  .navbar a,
  .footer a {
    background: transparent;
    border-radius: 0.35rem;
    padding: 0.5rem;
    margin: 0 0.3rem;
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
    border: 1px solid transparent;
  }

  .navbar a:hover,
  .navbar a[aria-current='page'] {
    background: rgba(0, 0, 0, 0.2);
    color: white;
  }

  .navbar button {
    font-size: 1rem;
  }

  .navbar a .emoji {
    display: none;
  }

  .footer a {
    color: var(--transparent-text);
  }

  .footer a:hover {
    background: var(--transparent-bg);
  }

  /* .navbar a:first-of-type {
    margin-left: -1rem;
  } */

  .navbar a.brand {
    font-weight: 500;
    color: white;
    white-space: nowrap;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 0;
    margin: 0;
  }

  .navbar a.brand:hover {
    filter: blur(1px);
  }

  .navbar a.brand .emoji {
    display: inline-block !important;
  }

  .navbar a.brand img {
    height: 30px;
    width: 30px;
  }

  @media screen and (min-width: 500px) {
    .navbar a {
      font-size: 0.95rem;
      padding: 0.5rem;
    }
  }

  @media screen and (min-width: 800px) {
    .emoji {
      margin: 0 0.5rem 0 0.1rem;
    }
    .navbar {
      padding: 0.5rem 0;
    }

    .navbar .flex {
      justify-content: space-between;
    }

    .navbar a,
    .navbar button,
    .footer a {
      padding: 0.50rem 1rem;
      margin: 0 0.5rem;
      font-size: 1.1rem;
    }
    .navbar a.brand {
      font-size: 1.3rem;
      margin-right: 3rem;
      border: none;
    }
    .navbar a.brand img {
      height: 50px;
      width: 50px;
      margin-right: .25rem;
    }
    /* .navbar a:first-of-type {
      margin-left: -1.5rem;
    } */
  }

  @media print {
    .navbar {
      display: none;
    }
  }

  /* Footer */

  .footer {
    padding: 2rem 0;
  }

  .footer > .flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .flex nav {
    padding: 1rem 0;
  }

  .footer img {
    height: 30px;
    width: 30px;
  }

  .footer a.img {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0.75rem;
    background: none;
  }

  .footer img {
    height: 30px;
    width: 30px;
  }

  .links {
      order: 2;
  }
  @media screen and (min-width: 800px) {
    .footer > .flex {
      align-items: flex-start;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }

    .links {
        order: 0;
    }

    .footer a.img {
      padding: 0 0.5rem;
      margin: 0 1rem;
    }
  }

  @media print {
    .footer {
      display: none;
    }
  }

  /* Tables */

  table {
    display: block;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    border-radius: 0.35rem;
  }

  thead,
  tbody {
    white-space: nowrap;
  }

  th {
    border-bottom: 2px solid var(--border);
  }

  tfoot th {
    border-top: 1px solid var(--border);
  }

  td {
    border-bottom: 1px solid var(--border);
  }

  th,
  td {
    text-align: left;
    padding: 0.75rem !important;
    hyphens: auto;
    word-break: break-word;
  }

  tbody tr:nth-child(even) {
    background-color: var(--light-background);
  }

  @media screen and (min-width: 800px) {
    table {
      display: table;
      border: 1px solid var(--border);
    }
  }

  /* Grid and flex */

  .flex {
    display: flex;
    align-items: center;
  }

  .flex-row {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 800px) {
    .flex-row {
      flex-direction: row;
    }
  }

  .flex-col {
    flex: 1;
  }

  .flex-two-thirds {
    flex: 2;
  }

  .justify-center {
    justify-content: center;
  }

  .new-post, .popular-post {
    display: inline-block;
    color: #111;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .new-post {
    background: #d3f9d8;
  }

  .popular-post {
    background: #4263eb;
    color: white;
  }

  @media screen and (min-width: 800px) {
    .new-post, .popular-post {
      margin-bottom: 0;
    }
  }

  .grid {
    display: grid;
    align-items: stretch;
  }

  .grid.projects {
    grid-template-columns: 40px auto;
  }

  .row .cell.description {
    grid-column: 1 / span 2;
    margin-bottom: 2rem;
    line-height: 1.3;
    font-size: 1.1rem;
  }

  @media screen and (min-width: 800px) {
    .grid {
      margin-left: -1rem;
      margin-right: -1rem;
    }

    .grid.projects {
      grid-template-columns: 50px 1fr 4fr;
    }

    .row .cell.description {
      grid-column: auto;
      margin-bottom: 0;
    }

    .grid.posts {
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.25rem;
    }

    .grid.lists {
      grid-template-columns: 2fr 4fr;
    }

    .grid.posts.with-tags {
      grid-template-columns: 4fr 2fr;
    }
  }

  .row {
    display: contents;
    border-bottom: 1px solid var(--border);
  }

  a.cell {
    background: transparent;
  }

  .posts .row,
  .lists .row {
    display: block;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .lists a {
    background: transparent;
  }

  .row .cell {
    font-weight: 600;
    color: var(--dark-font-color);
    font-size: 1.1rem;
    line-height: 1.2;
    padding: 0.25rem 0;
  }

  .row .cell.simple {
    border-bottom: none;
  }

  .row .cell time {
    display: block;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
  }

  @media screen and (min-width: 800px) {
    .posts .row,
    .lists .row {
      margin-bottom: 2rem;
    }

    .row .cell {
      display: flex;
      align-items: center;
      font-size: 1.15rem;
      padding: 0.8rem 0;
    }
    .row.narrow .cell {
      padding: 0.4rem 0;
    }
    .row .cell time {
      font-size: 0.8rem;
    }
    .row .cell.simple {
      padding: 0.5rem 0;
    }
    .posts .row,
    .lists .row {
      display: contents;
    }

    .row:hover > * {
      background: var(--light-background);
      border-color: var(--border);
    }

    .row .cell:first-child,
    .row .cell.simple:first-child {
      padding-left: 1rem;
      border-top-left-radius: 0.35rem;
      border-bottom-left-radius: 0.35rem;
    }

    .row .cell:last-child,
    .row .cell.simple:last-child {
      padding-right: 1rem;
      padding-left: 1rem;
      border-top-right-radius: 0.35rem;
      border-bottom-right-radius: 0.35rem;
    }
  }

  .row .cell.light {
    font-weight: 400;
    color: var(--light-font-color);
  }

  /* Guide */

  .grid.guide {
    display: block;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
  }

  .grid.guide.categories a {
      font-size: 1rem;
      font-weight: 500;
      background: var(--link-color-darker);
      color: var(--light-background);
      border:1px solid var(--link-color-darker);
  }

  .grid.guide.categories a:hover {
      background: var(--link-color);
      border:1px solid var(--link-color);
  }

  .grid.guide a {
    display: block;
    background: var(--light-background);
    transition: all 0.2s ease;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--border);
  }

  .grid.guide img {
    border-radius: 0.35rem;
  }

  .grid.guide .gatsby-image-wrapper {
    height: 50px !important;
    width: 50px !important;
    margin-right: 1.5rem;
  }

  .grid.guide a:hover {
    transform: translate3D(0, -1px, 0);
    background: var(--lighter-background);
  }

  .grid.guide h2 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    border-bottom: none;
  }

  .grid.guide p {
    font-weight: 400;
    margin: 0;
    line-height: 1.5;
    color: var(--light-font-color);
  }

  @media screen and (min-width: 600px) {
    .grid.guide {
      display: grid;
      grid-auto-rows: 1fr;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .grid.guide a {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 1.5rem;
      margin: 0;
    }

    .grid.guide .gatsby-image-wrapper {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 800px) {
    .grid.guide {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .grid.guide.categories {
        grid-template-columns: repeat(5, minmax(0, 1fr));
      }

    .grid.guide a {
      flex-direction: column;
    }

    .grid.guide h2 {
      margin-top: 0.5rem;
      font-size: 1.3rem;
    }

    .grid.guide .gatsby-image-wrapper {
      height: 75px !important;
      width: 75px !important;
      margin-right: 0;
    }
  }

  /* Post */

  .grid.post {
    grid-gap: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  header {
    padding: 1rem 0;
  }

  header h1 {
    font-size: 2rem;
    display: inline-block;
    font-weight: 600;
    margin-top: 1.5rem;
  }

  header u {
    display: inline-block;
    text-decoration: none;
    padding: 0.4rem 0;
  }

  .article-header {
    margin: 2rem 0;
  }

  .article-header .container {
    padding-left: 0;
    padding-right: 0;
  }

  .article-header .thumb {
    display: flex;
    flex-direction: column;
  }

  .article-header h1 {
    font-weight: 700;
    font-size: 1.6rem;
    margin: 0;
  }

  .article-header .description {
    font-size: 1.5rem;

    color: var(--light-font-color);
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  @media screen and (min-width: 800px) {
    header h1 {
      font-size: 3rem;
      margin-top: 2rem;
    }

    header u {
      background: linear-gradient(transparent 85%, #bac8ff 0);
    }

    .article-header {
      margin-top: 2.5rem 0;
    }

    .article-header h1 {
      font-size: 2.5rem;
    }

    .article-header .thumb {
      flex-direction: row;
      align-items: center;
    }
  }

  @media screen and (min-width: 1100px) {
    .grid.post {
      margin-top: 5rem;
      grid-gap: 5rem;
      grid-template-columns: 3fr 1fr;
    }

    .article-header h1 {
      font-size: 2.5rem;
    }
  }

  .post-thumbnail {
    display: block !important;
  }

  .post-thumbnail.gatsby-image-wrapper {
    min-width: 75px;
    height: 75px !important;
    width: 75px !important;
    margin-bottom: 0.5rem;
  }

  @media screen and (min-width: 800px) {
    .post-thumbnail.gatsby-image-wrapper {
      min-width: 100px;
      height: 100px !important;
      width: 100px !important;
      margin-right: 1.5rem;
      margin-bottom: 0;
    }
  }

  /* Search */

  .search-form {
    display: flex;
  }

  [type='search'] {
    display: block;
    padding: 0.8rem 1rem;
    border: 1px solid var(--border);
    width: 100%;
    max-width: 400px;
    border-radius: 0.35rem;
    font-size: 1rem;
    -webkit-appearance: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }

  .search-form [type='search'] {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  ::placeholder,
  ::-webkit-input-placeholder,
  ::-moz-placeholder,
  :-moz-placeholder,
  :-ms-input-placeholder {
    color: var(--light-font-color);
  }

  /* Suggested */

  .suggested {
    flex-direction: column;
    align-items: stretch;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0;
  }

  .suggested span {
    font-weight: 400;
    display: block;
    font-size: 0.9rem;
    color: var(--transparent-text);
  }

  .suggested a {
    background: none;
    margin: 1rem;
    border-bottom: none;
    transition: all 0.2s ease;
    padding: 1.5rem;
    border-radius: 0.35rem;
    background: var(--light-background);
    border: 1px solid var(--border);
  }

  .suggested a:hover {
    transform: translate3D(0, -1px, 0);
    background: var(--lighter-background);
  }

  @media screen and (min-width: 800px) {
    .suggested {
      flex-direction: row;
    }
    .suggested a {
      flex: 0 0 calc(50% - 2rem);
    }
    .suggested a:first-of-type {
      text-align: right;
    }
  }

  /* Helpers */

  .small {
    max-width: 600px;
  }

  .medium {
    max-width: 800px;
  }

  time,
  .meta {
    color: var(--light-font-color);
    font-size: 0.9rem;
    white-space: nowrap;
    font-weight: 400;
  }

  .meta {
    color: var(--medium-font-color);
    font-size: 1rem;
  }

  /* Tags */

  .count {
    font-weight: 700;
    color: var(--link-color);
  }

  .tags {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  .tags > a {
    display: block;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.1);
    color: var(--dark-font-color);
    margin: 0.2rem;
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
    border-radius: 16px;
    border-bottom: 0;
    white-space: nowrap;
    line-height: 1;
  }

  .tags > a:hover {
    background: #868e96;
    color: white;
  }

  mark {
    background: #ffec99;
  }

  .text-center {
    text-align: center;
  }

  .utterances {
    margin-left: -4px;
    margin-right: -4px;
  }

  kbd {
    background-color: #f7f7f7;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 2px #fff;
    color: #333;
    display: inline-block;
    font-family: Helvetica Neue, Inter, -apple-system, BlinkMacSystemFont,
      Helvetica, Arial, sans-serif;
    line-height: 1.4;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
  }

  a.tag-javascript,
  a.tag-sql {
    background: #fff3bf;
    color: black;
  }

  a.tag-javascript:hover,
  a.tag-sql:hover {
    background: #ffd43b;
    color: black;
  }

  a.tag-linux,
  a.tag-git,
  a.tag-snippets,
  a.tag-html {
    background: #fff4e6;
    color: #e8590c;
  }

  a.tag-linux:hover,
  a.tag-git:hover,
  a.tag-snippets:hover,
  a.tag-html:hover {
    background: #fd7e14;
    color: white;
  }

  a.tag-vue,
  a.tag-new-year {
    color: #087f5b;
    background: #e6fcf5;
  }

  a.tag-vue:hover,
  a.tag-new-year:hover {
    background: #0ca678;
    color: white;
  }

  a.tag-fundamentals,
  a.tag-game,
  a.tag-testing,
  a.tag-security,
  a.tag-server {
    background: #d3f9d8;
    color: #111;
  }

  a.tag-fundamentals:hover,
  a.tag-game:hover,
  a.tag-testing:hover,
  a.tag-security:hover,
  a.tag-server:hover {
    background: #37b24d;
    color: white;
  }

  a.tag-node,
  a.tag-automation,
  a.tag-ruby {
    background: #fff5f5;
    color: #e03131;
  }

  a.tag-node:hover,
  a.tag-automation:hover,
  a.tag-ruby:hover {
    background: #f03e3e;
    color: white;
  }

  a.tag-wordpress,
  a.tag-projects,
  a.tag-reference,
  a.tag-notes,
  a.tag-jQuery {
    background: #e3fafc;
    color: #0c8599;
  }

  a.tag-wordpress:hover,
  a.tag-projects:hover,
  a.tag-reference:hover,
  a.tag-notes:hover,
  a.tag-jQuery:hover {
    background: #1098ad;
    color: white;
  }

  a.tag-css,
  a.tag-dom,
  a.tag-architecture {
    background: #e7f5ff;
    color: #1971c2;
  }

  a.tag-css:hover,
  a.tag-dom:hover,
  a.tag-architecture:hover {
    background: #1c7ed6;
    color: white;
  }

  a.tag-php,
  a.tag-redux,
  a.tag-gatsby,
  a.tag-life {
    background: #f3f0ff;
    color: #6741d9;
  }

  a.tag-php:hover,
  a.tag-redux:hover,
  a.tag-gatsby:hover,
  a.tag-life:hover {
    background: #7950f2;
    color: white;
  }

  a.tag-react,
  a.tag-api,
  a.tag-tutorial {
    background: #edf2ff;
    color: #3b5bdb;
  }

  a.tag-react:hover,
  a.tag-api:hover,
  a.tag-tutorial:hover {
    background: #4263eb;
    color: white;
  }

  a.tag-design,
  a.tag-database,
  a.tag-travel {
    background: #fff0f6;
    color: #c2255c;
  }

  a.tag-design:hover,
  a.tag-database:hover,
  a.tag-travel:hover {
    background: #e64980;
    color: white;
  }

  a.tag-notes,
  a.tag-tools {
    background: #f8f0fc;
    color: #9c36b5;
  }

  a.tag-notes:hover,
  a.tag-tools:hover {
    background: #ae3ec9;
    color: white;
  }

  #dark-mode-button {
    display: flex;
    background: transparent;
    border: none;
    padding: 0.5rem;
    border-radius: 0.35rem;
    box-sizing: content-box;
    cursor: pointer;
    font-size: 0.9rem;
  }

  #dark-mode-button:hover {
    background: var(--transparent-bg);
  }

  #dark-mode-button:focus {
    outline: none;
  }

  @media screen and (min-width: 800px) {
    #dark-mode-button {
      padding: 0.75rem;
    }
  }

  #comments {
    margin-top: 3rem;
  }

  #comments h2 {
    margin: 0;
  }

  @media print {
    .comments,
    #comments {
      display: none;
    }
  }

  ::selection {
    background: #3b5bdb;
    color: white;
  }

  .breadcrumb-item + .breadcrumb-item {
      padding-left: 0 !important;
  }
  .breadcrumb-item + .breadcrumb-item::before {
      padding-left: 0.3rem;
  }

  .nav-icon:hover {
      cursor: pointer;
  }

  .section-title {
      padding-bottom: 0.5rem;
  }

  .article-content {
      line-height: 2;
  }
.language-apacheconf {
    background-color: var(--code-background-color);
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: .35rem;
    float: left;
    direction: ltr;
}

@media screen and (max-width: 500px) {

    .form-group {
        width: 100%;
    }
    .contact-fields {
        flex-flow: column;
    }
    .links {
        margin-top: 1rem;
    }
}

div p a {
    color: #1c7ed6;
}

.gold {
    color: goldenrod
}

.skill-list {
    width: 50px !important;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    transition: .4s;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.modal-content {
    max-width: 600px;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    background-color: #fff;
}

.modal-opened {
    opacity: 1;
    visibility: visible;
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/****** Animate *****/

@-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }


  /* New moon */


  code[class*='language-'],
  pre[class*='language-'] {
    -webkit-font-smoothing: subpixel-antialiased;
    color: var(--code-font-color);
    /* font-family: var(--code-font-family); */
    font-size: 0.9rem;

    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    font-weight: 400;
    line-height: 1.7;

    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Code blocks */
  pre[class*='language-'] {
    padding: 1rem;
    margin-top: 0.6rem;
    margin-bottom: 2rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    overflow: auto;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.06),
      0 2px 2px rgba(0, 0, 0, 0.06), 0 4px 4px rgba(0, 0, 0, 0.06),
      0 8px 8px rgba(0, 0, 0, 0.06), 0 16px 16px rgba(0, 0, 0, 0.06);
  }

  @media screen and (min-width: 800px) {
    code[class*='language-'],
    pre[class*='language-'] {
      font-size: 0.95rem;
    }
    pre[class*='language-'] {
      padding: 1rem;
      margin-left: auto;
      margin-right: auto;
      border-radius: 0.35rem;
    }
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background-color: var(--code-background-color);
  }

  /* Inline code */
  :not(pre) > code[class*='language-'] {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.35rem;
  }

  pre.language-text {
    background: var(--light-background) !important;
    color: var(--dark-font-color) !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
  }

  code.language-text {
    background: var(--light-background) !important;
    color: var(--dark-font-color) !important;
    box-shadow: none;
  }

  pre.language-text code.language-text {
    border: none;
  }

  code.language-shell::before {
    content: '$ ';
    color: var(--comment);
  }

  pre.language-terminal {
    position: relative;
    background: white;
    color: #595c62;
    padding-top: 3rem;
    margin: 2rem 0;
    border-radius: 0.35rem;
    border: 1px solid #c7c9ca;
    box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.2),
      0 0.5rem 2rem rgba(51, 51, 51, 0.2);
  }

  code.language-terminal {
    color: #595c62;
  }

  pre.language-terminal::before {
    content: '\2022 \2022 \2022';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #eaeaea, #d2d2d2);
    color: #b9bcbd;
    width: 100%;
    font-size: 2.5rem;
    margin: 0;
    line-height: 0;
    padding: 15px 0 12px;
    text-indent: 6px;
    letter-spacing: -18px;
    border-bottom: 1px solid #a6a9aa;
  }

  pre.language-terminal::after {
    content: 'Output';
    line-height: 1;
    font-family: 'Myriad Pro', sans-serif;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    position: absolute;
    top: 6px;
    right: 0.5rem;
  }

  .gatsby-highlight-code-line {
    background-color: #191919;
    display: block;
    margin-right: -1rem;
    margin-left: -1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.25rem;
    border-left: 0.25rem solid #748ffc;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata,
  .token.important {
    color: var(--comment);
  }

  .token.punctuation {
    color: var(--punctuation);
  }

  .token.namespace {
    opacity: 0.7;
  }

  .token.property {
    color: var(--property);
  }

  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: var(--tag);
  }

  .token.number {
    color: var(--number);
  }

  .token.char,
  .token.builtin,
  .token.url,
  .token.inserted {
    color: var(--code-font-color);
  }

  .token.attr-name,
  .token.selector {
    color: var(--attribute);
  }

  .token.attr-value,
  .token.string {
    color: var(--string);
  }

  .token.operator {
    color: var(--operator);
  }

  .token.atrule,
  .token.keyword {
    color: var(--keyword);
  }

  .token.function {
    color: var(--function);
  }

  .language-css,
  .token.boolean,
  .token.class-name {
    color: var(--class) !important;
  }

  .token.regex {
    color: var(--keyword);
  }

  .token.variable {
    color: var(--variable);
  }

  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  .filename {
    font-size: 0.9rem;
    margin-bottom: -0.8rem;
    padding: 0.3rem 1.5rem;
    line-height: 1;
    font-family: 'Myriad Pro', sans-serif;

    background: linear-gradient(to bottom, #eaeaea, #d2d2d2);
    border: 1px solid #b9bcbd;
    color: #4d494d;
    z-index: 2;

    margin-left: -1.5rem;
    margin-right: -1.5rem;

    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset, 0px 1px 0px #515151;
    text-align: center;
  }

  @media screen and (min-width: 800px) {
    .filename {
      padding: 0.3rem 1rem 0.5rem;
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;

      margin-left: auto;
      margin-right: auto;
    }
  }

  pre::-moz-selection,
  pre::-moz-selection,
  code::-moz-selection,
  code::-moz-selection {
    text-shadow: none;
    color: inherit;
    background: rgba(150, 150, 150, 0.3) !important;
  }

  pre::selection,
  pre::selection,
  code::selection,
  code::selection {
    text-shadow: none;
    color: inherit;
    background: rgba(150, 150, 150, 0.3) !important;
  }

  pre[class*='language-']::-moz-selection,
  pre[class*='language-']::-moz-selection,
  code[class*='language-'] ::-moz-selection,
  code[class*='language-'] ::-moz-selection {
    text-shadow: none;
    color: inherit;
    background: rgba(150, 150, 150, 0.3) !important;
  }

  pre[class*='language-']::selection,
  pre[class*='language-']::selection,
  code[class*='language-'] ::selection,
  code[class*='language-'] ::selection {
    text-shadow: none;
    color: inherit;
    background: rgba(150, 150, 150, 0.3) !important;
  }

  .js-lang {
      background: var(--yellow);
      color: var(--dark-font-color);

  }
  

p[id='javascript'] {
    color: var(--dark-font-color) !important;
    background: var(--js-color) !important;
    font-weight: 600 !important;
}

p[id='website-design'] {
    background: #da133b !important;
}