<div class="article-header">
    <p class="description"></p>
</div>

<p></p>
<h4 style="position:relative;"></h4>
<p></p>

<h4 style="position:relative;"></h4>
<ul>
    <li></li>
    <li></li>
</ul>

<h2 style="position:relative;"></h2>
<p></p>

<p>
    <span
        class="gatsby-resp-image-wrapper"
        style="position: relative; display: block; margin-left: auto; margin-right: auto; max-width: 650px; "
    >
        <img src="#" />
    </span>
</p>

<blockquote>
    <p></p>
</blockquote>
<h2 style="position:relative;"></h2>
<p></p>

<div class="filename">
    wp-config.php
</div>
<pre class="language-php">
    <span class="badge bg-warning text-dark">javascript</span>
    <code class="language-php">

    </code>
</pre>

