<div class="article-header">
    <p class="description">
فرض کنید که لازمه که یک attribute برای یک element در HTML با جاوااسکریپت بسازید، و چاره ای جز نوشتن با جاوااسکریپت خالص ندارید. چطور انجامش بدیم؟
    </p>
</div>
<p>
بیان فرض کنیم یک button داریم که یک آی‌دی دارد، با استفاده از متد زیر انتخابش می‌کنیم:
</p>
<pre class="language-js">
<code class="language-js">
const button = document.querySelector('#mybutton')
</code>
</pre>
<p>
برای اضافه کردن attribute یا ویژگی به اون مراحل زیر رو اجرا می‌کنیم:
</p>
<ul>
    <li>ساخت attribute مورد نظر</li>
    <li>مقدار یا value اون رو مشخص می‌کنیم</li>
    <li>attribute رو به element اضافه می‌کنیم</li>
</ul>
