<div class="article-header">
    <p class="description">
    آموزش کامل ساخت قالب سایت وردپرس، طراحی قالب ساده‌تر از اون چیزی است که فکر می‌کنید.
    </p>
    </div>
    <p>
    اگر شما HTML، CSS و کمی جاوااسکریپت بلد باشید، می‌توانید وبسایت طراحی کنید.
    احتمالا در مورد وردپرس شنیده‌اید، اما احتمالا پیاده‌سازی و راه‌اندازی آن را بلد نیستید. یا اینکه دلیل استفاده از اون رو نمی‌دانین.
    شاید مشتری از شما وبسایت ورپرسی درخواست کند ولی شما با وردپرس آشنایی نداشته باشید، یا شاید قبلا با آن کار کرده باشید اما طراحی قالب و تم برای آن را بلد نباشید.
    به هر حال، این آموزش برای شما ساخته شده
    </p>
    <h4 id="prerequisites" style="position:relative;">
    پیش‌نیازها
    </h4>
    <p>
    تمام چیزی که برای شروع به کار نیاز دارید یک وب سایت است.
    نیازی به یادگیری زبان برنامه‌نویسی PHP و یا تجربه قبلی کار با وردپرس ندارید
    </p>
    <p>
    شما باید راه‌اندازی و تنظیم سرور Local یا محلی را بلد باشید
    </p>
    <h4 style="position:relative;">
    اهداف آموزش
    </h4>
    <ul>
    <li>
    بتوانید وردپرس رو روی کامپیوتر نصب کنید، به صورت محلی(لوکال)
    </li>
    <li>
    بتوانید یک وبسایت آماده با HTML رو تبدیل به قالب وردپرس کنید
    </li>
    </ul>
    <h4 style="position:relative;">
    بخش‌‌ها
    </h4>
    <p>من به‌ زودی آموزش‌های تکمیلی و فرعی دیگری به این مقاله اضافه میکنم</p>
    <ul>
    <li>
    <strong>قسمت دوم آموزش</strong>
     - صفحه بندی، نظرات، صفحه پست تکی، توابع و پست های سفارشی (سطح متوسط)
    </li>
    <li>
    <strong>بخش سوم آموزش</strong>
     - پست‌های سفارشی، فیلد‌های سفارشی و متاباکس‌ها(سطح حرفه‌ای)
    </li>
    </ul>
    <h2 style="position:relative;">
    وردپرس چه کاری می تواند انجام دهد؟
    </h2>
    <p>
    وردپرس در ابتدا به عنوان یک پلتفرم وبلاگ نویسی ساخته شد، اما اکنون به عنوان <a href="https://en.wikipedia.org/wiki/Content_management_system" rel="nofollow">CMS</a> شناخته می‌شود - سیستم مدیریت محتوا.</p>
    <p>
    امروزه هر وبسایتی که به‌روزرسانی می‌شود و به اصطلاح داینامیک است، می‌تواند CMS داشته باشد.
    اگر وبلاگ است، مهم است که بتوانید پست یا مقاله اضافه کنید. اگر یک وبسایت رستوران است، لازم است منوها را اضافه و بروز کنید.
     اگر وب سایت شرکتی باشد، لازم است قیمت‌ها، پکیج‌ها و موارد دیگر بروزرسانی شوند.
    </p>
    <p>
    اگر کسی برای ساخت وبسایت وردپرسی اقدام می‌کند، دلیل آن می‌تواند این باشد که برنامه‌نویس نیست یا وقت یادگیری آن را ندارد. پس لازم است مدیریت سایت تاحد امکان برایش ساده باشد. وردپرس همه‌ی اینها و موارد زیاد دیگری را یکجا دارد.
    </p>
    <h2 style="position:relative;">
    شروع: طراحی
    </h2>
    <p>
    مهم نیست از چه سیستمی برای طراحی و دیزاین وبسایت استفاده شده‌ باشد - بوت‌استرپ، Skeleton و یا Custom CSS. مهم این است که ظاهر وبسایت به دلخواه شما باشد.
    </p>
    <p>
    من برای این مقاله از یکی از قالب‌های آماده بوت‌استرپ برای تبدیل به قالب وردپرس استفاده کردم.
    در <a rel="nofollow" href="http://getbootstrap.com/examples/blog/">این لینک</a> می‌توانید ببینید.
    </p>
    <p>
    برای استفاده از این قالب، می‌توانید آن را از گیت‌هاب من pull کنید و استفاده کنید <a href="https://github.com/ehsanghaffarii/bootstrap-blog-template/">در اینجا</a>
    </p>
    <blockquote>
    <p>
    کار با Git/Github رو بلد نیستید؟ کافیه <a href="https://github.com/Ein-group/git-tutorials">آموزش گیت برای مبتدیان</a> رو مطالعه کنید. اگر می‌خواهید بدون یادگیری Git شروع کنید، یه پوشه توی کامپیوتر خود بسازید و بعد این دو فایل را داخل آن قرار دهید <a href="https://github.com/ehsanghaffarii/bootstrap-blog-template/blob/master/index.html">index.html</a> و <a href="https://github.com/ehsanghaffarii/bootstrap-blog-template/blob/master/blog.css">blog.css</a> و شما آماده شروع ساخت قالب وردپرس هستید.
    </p>
    </blockquote>
    <h2 style="position:relative;">
    نصب وردپرس
    </h2>
    <p>
    مقالات زیادی درباره نحوه نصب وردپرس وجود دارد. این مقاله‌ها روند نصب را طولانی و ترسناک نشان می‌دهند، و اگر اولین بار است که این کار را انجام می دهید، قطعاً کمی گیج کننده است. در اینجا <a href="http://wp-persian.com/codex/%d8%b2%d9%85%d9%be-%d9%88-%d9%88%d8%b1%d8%af%d9%be%d8%b1%d8%b3-%d9%84%d9%88%da%a9%d8%a7%d9%84-%d9%87%d8%a7%d8%b3%d8%aa/">راهنمای فارسی نصب وردپرس</a> در دسترس است.
    </p>
    <h4 style="position:relative;">
    دانلود وردپرس
    </h4>
    <p>
    به <a href="http://wp-persian.com/download/" rel="nofollow"> صفحه دانلود وردپرس</a> بروید و آخرین نسخه آنرا دانلود کنید
    </p>
    <h4 style="position:relative;">
    وردپرس را از حالت فشرده خارج کنید
    </h4>
    <p>
    وردپرس را از حالت فشرده خارج کرده و محتوای پوشه را در پوشه‌ای که سرور لوکال شما مشخص کرده است قرار دهید.
    </p>
    <h4 style="position:relative;">
    ساخت دیتابیس
    </h4>
    <p>
    مرورگر خود را باز کنید و به آدرس <code> http://localhost/phpmyadmin</code> بروید. روی  <code class="language-text">New</code> بزنید و دیتابیس خود را با اسم wordpressdb بسازید
    </p>
    <h4 style="position:relative;">
    پیکربندی وردپرس
    </h4>
    <p>
    در پوشه‌ای که ساخته اید فایل <code class="language-text"> wp-config-sample.php</code> را پیدا کنید و یک کپی از آن بسازید و نام آن را به  <code class="language-text"> wp-config.php</code> تغییر دهید
    </p>
    <p>
        فایل را باز کنید و به شکل زیر تغییر دهید:
    </p>
    <div class="filename">
        wp-config.php
        </div>
        <div class="gatsby-highlight" data-language="php">
            <pre class="language-php"><code class="language-php"><span class="token comment">/** The name of the database for WordPress */</span>
            <span class="token function">define</span><span class="token punctuation">(</span><span class="token single-quoted-string string">'DB_NAME'</span><span class="token punctuation">,</span> <span class="token single-quoted-string string">'wordpressdb'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
            <span class="token comment">/** MySQL database username */</span>
            <span class="token function">define</span><span class="token punctuation">(</span><span class="token single-quoted-string string">'DB_USER'</span><span class="token punctuation">,</span> <span class="token single-quoted-string string">'root'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
            <span class="token comment">/** MySQL database password */</span>
            <span class="token function">define</span><span class="token punctuation">(</span><span class="token single-quoted-string string">'DB_PASSWORD'</span><span class="token punctuation">,</span> <span class="token single-quoted-string string">''</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
        </div>
    <p>
        فایل را ذخیره کنید. حالا اگر به مرورگر برگردید و آدرس وردپرس خود را بدهید، به شکل زیر اجرا می‌شود
    </p>
    <img class="gatsby-resp-image-image" src="articles/wordpress-starter.png" />
    <p>
        زبان مورد نظر خودتون رو انتخاب کنید و مراحل نصب رو تا انتها انجام دهید، نام کاربری، رمزعبور و ایمیل مهمترین فیلد‌ها هستند.
        بعد از اتمام کار اتوماتیک به صفحه ورود سایت منتقل می‌شوید.
    </p>
    <h2 style="position:relative;">
        شروع ساخت قالب
    </h2>
    <p>
        در وردپرس همه‌ی فایل‌ها و پوشه‌هایی که شما قرار است با آنها کار کنیدِ، در پوشه‌ی <code>wp-content</code> قرار می‌گیرند.
        برای ساخت شروع ساخت قالب به فولدر <code>wp-content/themes</code> بروید. یک فولدر جدید به اسم mytheme بسازید و دو فایل index.html و style.css را درون آن قرار دهید.
    </p>
    <blockquote>
        <p>
            هر قالب وردپرس باید دو فایل index.html و style.css را داشته باشد.
        </p>
    </blockquote>
