<template>
        <nav class="navbar bg-primary bg-gradient">
    <div class="container">
      <div class="flex">
        <div class="">
            <a href="/" class="brand">
                <img class="mx-2" src="img/logo.png" alt="لوگو احسان غفارلنگرودی"/>
                <span style="font-size: 14px">عین</span>
            </a>
        </div>
        <div class="flex">
          <a href="/portfolio">نمونه‌کارها</a>
          <a href="/article">مقالات</a>
          <a href="/contact">درباره‌</a>
          <a class="nav-icon" id="night-mode"><i class="fas fa-moon"></i></a>
        </div>
      </div>
    </div>
  </nav>

</template>

// <script>
// export default {
//     data() {
//         return {
//             router: []
//         };
//     },

//     created() {
//         this.getRouter()
//     },

//     methods: {
//         getRouter(app_url) {
//             app_url = app_url;
//             fetch(app_url)
//             .then(response => response.json())
//             .then(response => { this.router = response.data;
//             })
//             .catch(error => console.log(error))
//         }
//     }
// }
// </script>
